[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tflite-runtime = {file = "https://github.com/google-coral/pycoral/releases/download/release-frogfish/tflite_runtime-2.5.0-cp37-cp37m-linux_armv7l.whl"}
numpy = "==1.19.4"
picamera = "==1.13"
Pillow = "==8.1.0"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
detect_image = "python detect_image.py --model model/detect.tflite"
autocontrast = "python autocontrast/detect.py --model model/detect.tflite"
canny = "python canny/detect.py --model model/detect.tflite"
equalize = "python equalize/detect.py --model model/detect.tflite"
bright = "python  bright/detect.py --model model/detect.tflite"
sharpness = "python  sharpness/detect.py --model model/detect.tflite"
rotation = "python  rotation/detect.py --model model/detect.tflite"
solarize = "python  solarize/detect.py --model model/detect.tflite"
color = "python  color/detect.py --model model/detect.tflite"
posterize = "python  posterize/detect.py --model model/detect.tflite"
contrast = "python  contrast/detect.py --model model/detect.tflite"
autocontrast-contrast = "python  autocontrast-contrast/detect.py --model model/detect.tflite"
grayscale = "python  grayscale/detect.py --model model/detect.tflite"