[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tflite-runtime = {file = "https://github.com/google-coral/pycoral/releases/download/release-frogfish/tflite_runtime-2.5.0-cp37-cp37m-linux_armv7l.whl"}
numpy = "==1.19.4"
picamera = "==1.13"
Pillow = "==8.1.0"

[dev-packages]

[requires]
python_version = "3.7"
